


#
#    Try loading the credentials.yml file
#    if workshopuser_username is not defined
#



- name: "xtoph_ocp4 : config-bastion-workshop-materials : loading workshop user credentials"
  include_vars:
    file: "./config/credentials.yml"
  when: workshopuser_username is undefined



- delegate_to: "{{ xtoph_ocp4.bastion.host_fqdn }}"
  run_once: true
  block:



      - name: "xtoph_ocp4 : config-bastion-workshop-materials : install workshop-(scripts) in /usr/local/bin"
        vars:
          - t_bastion_host_ip:    "{{ xtoph_ocp4.bastion.host_ip }}"
          - t_bastion_dns:        "{{ xtoph_ocp4.bastion.dns }}"
          - t_network_nameserver: "{{ xtoph_ocp4.network.nameserver }}"
        template:
          src: "{{ item.src }}"
          dest: "{{ item.dest }}"
          owner: root
          group: root
          mode: "{{ item.mode }}"
        with_items:
          - {mode: '0744', src: 'workshop-approve-csr.j2',         dest: '/usr/local/bin/workshop-approve-csr.sh'}
          - {mode: '0744', src: 'workshop-check-health.j2',        dest: '/usr/local/bin/workshop-check-health.sh'}
          - {mode: '0744', src: 'workshop-check-nodes.j2',         dest: '/usr/local/bin/workshop-check-nodes.sh'}
          - {mode: '0744', src: 'workshop-check-dns.j2',           dest: '/usr/local/bin/workshop-check-dns.sh'}
          - {mode: '0744', src: 'workshop-check-chrony.j2',        dest: '/usr/local/bin/workshop-check-chrony.sh'}
          - {mode: '0744', src: 'workshop-check-operators.j2',     dest: '/usr/local/bin/workshop-check-operators.sh'}
          - {mode: '0744', src: 'workshop-check-version.j2',       dest: '/usr/local/bin/workshop-check-version.sh'}
          - {mode: '0744', src: 'workshop-config-registry.j2',     dest: '/usr/local/bin/workshop-config-registry.sh'}
          - {mode: '0744', src: 'workshop-config-scheduler.j2',    dest: '/usr/local/bin/workshop-config-scheduler.sh'}
          - {mode: '0744', src: 'workshop-config-chrony.j2',       dest: '/usr/local/bin/workshop-config-chrony.sh'}
          - {mode: '0744', src: 'workshop-rsh.j2',                 dest: '/usr/local/bin/workshop-rsh.sh'}
          - {mode: '0744', src: 'workshop-validate-service.j2',    dest: '/usr/local/bin/workshop-validate-service.sh'}
          - {mode: '0744', src: 'workshop-validate-app.j2',        dest: '/usr/local/bin/workshop-validate-app.sh'}
          - {mode: '0744', src: 'workshop-kubeadmin.j2',           dest: '/usr/local/bin/workshop-kubeadmin.sh'}
          - {mode: '0744', src: 'workshop-get-console.j2',         dest: '/usr/local/bin/workshop-get-console.sh'}
      
          - {mode: '0644', src: 'lib-exercise.j2',                 dest: '/usr/local/bin/lib-exercise.sh'}
          - {mode: '0744', src: 'lib-exercise-test.j2',            dest: '/usr/local/bin/lib-exercise-test.sh'}
      
          - {mode: '0744', src: 'exercise-01a.j2',                 dest: '/usr/local/bin/exercise-01a.sh'}
          - {mode: '0744', src: 'exercise-01b.j2',                 dest: '/usr/local/bin/exercise-01b.sh'}
          - {mode: '0744', src: 'exercise-02.j2',                  dest: '/usr/local/bin/exercise-02.sh'}
          - {mode: '0744', src: 'exercise-03.j2',                  dest: '/usr/local/bin/exercise-03.sh'}
          - {mode: '0744', src: 'exercise-04.j2',                  dest: '/usr/local/bin/exercise-04.sh'}
          - {mode: '0744', src: 'exercise-05.j2',                  dest: '/usr/local/bin/exercise-05.sh'}
          - {mode: '0744', src: 'exercise-07.j2',                  dest: '/usr/local/bin/exercise-07.sh'}

          - {mode: '0744', src: 'exercise-cleanup.j2',             dest: '/usr/local/bin/exercise-cleanup.sh'}
      
          - {mode: '0744', src: 'exercise10-install-aap.j2',       dest: '/usr/local/bin/exercise10-install-aap.sh'}
          - {mode: '0744', src: 'exercise10-uninstall-aap.j2',     dest: '/usr/local/bin/exercise10-uninstall-aap.sh'}
          - {mode: '0744', src: 'exercise10-restart-aap.j2',       dest: '/usr/local/bin/exercise10-restart-aap.sh'}
          - {mode: '0744', src: 'exercise10-get-info.j2',          dest: '/usr/local/bin/exercise10-get-info.sh'}
          - {mode: '0744', src: 'exercise10-get-info.j2',          dest: '/usr/local/bin/exercise10-get-info.sh'}

          - {mode: '0744', src: 'exercise-validate-service.j2',    dest: '/usr/local/bin/exercise-validate-service.sh'}
          - {mode: '0744', src: 'exercise-validate-app.j2',        dest: '/usr/local/bin/exercise-validate-app.sh'}
          - {mode: '0744', src: 'exercise-rsh.j2',                 dest: '/usr/local/bin/exercise-rsh.sh'}
      
      
      
      
      - name: "xtoph_ocp4 : config-bastion-workshop-materials : install conditional workshop-(scripts) in /usr/local/bin"
        template:
          src: "{{ item.src }}"
          dest: "{{ item.dest }}"
          owner: root
          group: root
          mode: 0744
        with_items:
          - {src: 'workshop-config-identity-htpasswd.j2', dest: '/usr/local/bin/workshop-config-identity-htpasswd.sh'}
          - {src: 'workshop-config-identity-ldap.j2', dest: '/usr/local/bin/workshop-config-identity-ldap.sh'}
        when: workshopuser_username is defined
      
      
      
      - name: "xtoph_ocp4 : config-bastion-workshop-materials : install workshop-(yaml's) in /usr/local/etc"
        vars:
          - p_server:      "{{ xtoph_ocp4.bastion.host_ip }}"
          - p_path:        "{{ xtoph_ocp4.bastion.nfs_export }}"
          - p_timeserver:  "{{ xtoph_ocp4.network.timeserver }}"
          - p_chrony_conf: "{{ lookup('template', 'workshop-config-chrony-conf.j2') | b64encode }}"
        template:
          src: "{{ item.src }}"
          dest: "{{ item.dest }}"
          owner: root
          group: root
          mode: 0644
        with_items:
          - {src: 'workshop-yaml-identity-htpasswd.j2', dest: '/usr/local/etc/workshop-identity-htpasswd.yaml'}
          - {src: 'workshop-yaml-identity-ldap.j2',     dest: '/usr/local/etc/workshop-identity-ldap.yaml'}
          - {src: 'workshop-users-htpasswd.j2',         dest: '/usr/local/etc/workshop-users.htpasswd'}
          - {src: 'exercise-03-pv.j2',                  dest: '/usr/local/etc/exercise-03-pv.yaml'}
          - {src: 'exercise-03-pvc.j2',                 dest: '/usr/local/etc/exercise-03-pvc.yaml'}
          - {src: 'exercise-hello-world-html.j2',       dest: '/usr/local/etc/exercise-hello-world.html'}
          - {src: 'exercise-07-pvc.j2',                 dest: '/usr/local/etc/exercise-07-pvc.yaml'}
          - {src: 'workshop-yaml-registryPV.j2',        dest: '/usr/local/etc/workshop-registryPV.yaml'}
          - {src: 'exercise10-aap-pv.j2',               dest: '/usr/local/etc/exercise10-aap-pv.yaml'}
          - {src: 'exercise10-aap-sub1.j2',             dest: '/usr/local/etc/exercise10-aap-sub1.yaml'}
          - {src: 'exercise10-aap-sub2.j2',             dest: '/usr/local/etc/exercise10-aap-sub2.yaml'}
#          - {src: 'workshop-config-chrony-machineconfig-masters.j2',      dest: '/usr/local/etc/workshop-chrony-machineconfig-masters.yaml'}
#          - {src: 'workshop-config-chrony-machineconfig-workers.j2',      dest: '/usr/local/etc/workshop-chrony-machineconfig-workers.yaml'}


