


#
#
#



- name: "config-bastion.yml : ***** BEGIN XTOPH_OCP4/config-bastion ROLE PROCESSING *****"
  debug: msg="inventory_hostname={{ inventory_hostname }}"

- include_tasks: "config-bastion-ocp-testlock.yml"

- include_tasks: "config-bastion-basics.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "basics"

- include_tasks: "config-bastion-firewalld.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "firewall"
    - xtoph_ocp4.bastion.firewalld == true

- include_tasks: "config-bastion-cockpit.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "cokcpit"
    - xtoph_ocp4.bastion.cockpit == true

- include_tasks: "config-bastion-workshop-materials.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "workshop"
    - xtoph_ocp4.bastion.workshop_materials == true

- include_tasks: "config-bastion-workshop-user.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "user"
    - xtoph_ocp4.bastion.workshop_user == true

- include_tasks: "config-bastion-desktop-gui.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "gui"
    - xtoph_ocp4.bastion.desktop_gui == true

- include_tasks: "config-bastion-desktop-chrome.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "chrome"
    - xtoph_ocp4.bastion.desktop_chrome == true

- include_tasks: "config-bastion-desktop-vnc.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "vnc"
    - xtoph_ocp4.bastion.desktop_vnc == true

- include_tasks: "config-bastion-dns.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "dns"
    - xtoph_ocp4.bastion.dns == true

- include_tasks: "config-bastion-matchbox.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "matchbox"
    - xtoph_ocp4.bastion.matchbox == true

- include_tasks: "config-bastion-pxe.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "pxe"
    - xtoph_ocp4.bastion.dhcp_pxe == true
#    - xtoph_ocp4.bastion.assisted_installer is undefined or xtoph_ocp4.bastion.assisted_installer == false

- include_tasks: "config-bastion-dhcp.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "dhcp"
    - xtoph_ocp4.bastion.dhcp == true

- include_tasks: "config-bastion-haproxy.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "haproxy"
    - xtoph_ocp4.bastion.haproxy == true

- include_tasks: "config-bastion-nfs.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "nfs"
    - xtoph_ocp4.bastion.nfs == true

- include_tasks: "config-bastion-httpd.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "httpd"
    - xtoph_ocp4.bastion.httpd == true

- include_tasks: "config-bastion-ntp.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "ntp"
    - xtoph_ocp4.bastion.ntp == true

- include_tasks: "config-bastion-ldap-client.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "ldap"
    - xtoph_ocp4.bastion.ldap_client == true

- include_tasks: "config-bastion-tests.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "tests"

- include_tasks: "config-bastion-ocp-prep.yml"
  when: 
    - xtoph_ocp4_subaction == "" or 
      xtoph_ocp4_subaction == "ocp" or
      xtoph_ocp4_subaction == "ai"

##
##    8/8/2024 - Attempting to deprecate the custom iso generation in favor of coreos-installer.
##               Customizations are now handled entirely by config-bastion-ocp-upi.yml
##               This legacy model needs to stick around to support OCP <= v4.6
##

- include_tasks: "config-bastion-legacy-iso.yml"
  when: 
    - xtoph_ocp4.ocp.version is version('4.6',operator='<=')
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "iso"
#    - xtoph_ocp4.bastion.iso == true
    - xtoph_ocp4.ocp.provisioner == "upi-vmedia"
    - xtoph_ocp4.bastion.assisted_installer is undefined or xtoph_ocp4.bastion.assisted_installer == false

- include_tasks: "config-bastion-ocp-upi.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "upi"
    - xtoph_ocp4.ocp.provisioner == "upi-vmedia" or 
      xtoph_ocp4.ocp.provisioner == "upi-pxe" or 
      xtoph_ocp4.ocp.provisioner == "ai-http"

- include_tasks: "config-bastion-ocp-ai.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "ai"
    - xtoph_ocp4.bastion.assisted_installer is defined and xtoph_ocp4.bastion.assisted_installer == true
    - xtoph_ocp4.ocp.provisioner == "ai-vmedia" or 
      xtoph_ocp4.ocp.provisioner == "ai-http"

- include_tasks: "config-bastion-ocp-lock.yml"
  when: 
    - xtoph_ocp4_subaction == "" or xtoph_ocp4_subaction == "lock"

- include_tasks: "config-bastion-ocp-unlock.yml"
  when: 
    -  xtoph_ocp4_subaction is defined and xtoph_ocp4_subaction == "unlock"



- name: "config-bastion.yml : ***** END XTOPH_OCP4/config-bastion ROLE PROCESSING *****"
  debug: msg="inventory_hostname={{ inventory_hostname }}"



