


- delegate_to: "{{ xtoph_ocp4.bastion.host_fqdn }}"
  block:

      #
      #    NOTE: Important source of infoabout AI REST API:
      #          https://github.com/openshift/assisted-service/blob/902a54d507dc4661d0ca2977114dc8500f52ee05/docs/user-guide/restful-api-guide.md
      #

      - run_once: true
        block: 

            - name: "xtoph_ocp4 : config-bastion-ocp-ai : install additional packages"
              yum: name=python3-pip state=installed
      
            - name: "xtoph_ocp4 : config-bastion-ocp-ai : clean-up ai work directory {{ t_tmpdir }}"
              shell:
                cmd: |
                  if [[ -d "{{ t_tmpdir }}" ]] ; then rm -rf {{ t_tmpdir }} ; fi
      
            - name: "xtoph_ocp4 : config-bastion-ocp-ai : create ai work directory {{ t_tmpdir }}"
              file:
                path="{{ t_tmpdir }}"
                mode="0755"
                state=directory
      
            - name: "xtoph_ocp4 : config-bastion-ocp-ai : create working directories {{ t_tmpdir }}"
              file:
                path="{{ t_tmpdir }}/{{ item }}"
                mode="0755"
                state=directory
              with_items:
                - "fragments"
                - "manifests"

            ## NOTE: IF WE NEED TO RETURN TO VERSION SPECIFIC AICLI
            #- name: "xtoph_ocp4 : config-bastion-ocp-ai : pip install aicli"
            #  pip:
            #    name: aicli
            #    version: 99.0.202403121540
            #    state: present
      
            - name: "xtoph_ocp4 : config-bastion-ocp-ai : pip install aicli"
              pip:
                name: aicli
                state: present

      ##
      ##
      ##
      
      - name: "xtoph_ocp4 : config-bastion-ocp-ai : elect node which will run aicli and other isolated commands"
        ansible.builtin.set_fact: 
          elected_cluster_node:  "{{ ( xtoph_ocp4._cluster_masters + xtoph_ocp4._cluster_workers + xtoph_ocp4._cluster_sno ) | first }}"

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : create list of cluster nodes"
        ansible.builtin.set_fact: 
          cluster_nodes:  "{{ xtoph_ocp4._cluster_masters + xtoph_ocp4._cluster_workers + xtoph_ocp4._cluster_sno }}"

      - debug:
          var: elected_cluster_node

      - debug:
          var: cluster_nodes

      ##
      ##  
      ##

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : load ocm offline token"
        shell: cat {{ xtoph_ocp4.ocp.creds_dir }}/ocm-token.txt
        register: ocm_token
                  
      - name: "xtoph_ocp4 : config-bastion-ocp-ai : load ssh key"
        shell: cat /root/.ssh/id_rsa.pub
        register: ssh_key
 
      ##
      ##    Build parms.yml using templated fragments
      ##

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : deploy parms-header"
        vars: 
          - t_sshkey: "{{ ssh_key.stdout }}"
        template:
          src: "ocp-ai-parms-header.j2"
          dest: "{{ t_tmpdir }}/fragments/1-parms-header.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname == elected_cluster_node

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : deploy parms-interfaces (DHCP)"
        template:
          src: "ocp-ai-parms-interfaces-dhcp.j2"
          dest: "{{ t_tmpdir }}/fragments/3-parms-interfaces-{{ inventory_hostname_short }}.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname in cluster_nodes
          - xtoph_ocp4.rhcos.nic_mode != 'static'

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : deploy parms-interfaces (STATIC)"
        template:
          src: "ocp-ai-parms-interfaces-static.j2"
          dest: "{{ t_tmpdir }}/fragments/3-parms-interfaces-{{ inventory_hostname_short }}.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname in cluster_nodes
          - xtoph_ocp4.rhcos.nic_mode == 'static'

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : deploy parms-header-macs"
        template:
          src: "ocp-ai-parms-header-macs.j2"
          dest: "{{ t_tmpdir }}/fragments/4-parms-header-macs.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname == elected_cluster_node

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : deploy parms-macs"
        template:
          src: "ocp-ai-parms-macs.j2"
          dest: "{{ t_tmpdir }}/fragments/5-parms-macs-{{ inventory_hostname_short }}.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname in cluster_nodes

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : assemble parms fragments into parms.yml"
        assemble:
          src: "{{ t_tmpdir }}/fragments/"
          dest: "{{ t_tmpdir }}/parms.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname == elected_cluster_node


      - name: "xtoph_ocp4 : config-bastion-ocp-ai : deploy kernel args manifest"
        vars:
          - t_kargs:     "{{ xtoph_ocp4.rhcos.kernel_opts | default ('') }}"
        template:
          src: "ocp-ai-machineconfig-kargs.j2"
          dest: "{{ t_tmpdir }}/manifests/99-rhcos-kernel-args-{{ xtoph_ocp4.ocp.clustername }}.yml"
          owner: root
          group: root
          mode: 644
        when: 
          - inventory_hostname == elected_cluster_node

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : test for existing cluster configuration"
        shell:
          cmd: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }}      \
                info cluster {{ xtoph_ocp4.ocp.clustername }} 
        ignore_errors: true
        register: aicli_status
        when: 
          - inventory_hostname == elected_cluster_node

      - debug:
          msg:
            - "aicli --offlinetoken {{ ocm_token.stdout|quote }}"
            - "Conditions:"
            - "aicli_status.rc: {{ aicli_status.rc }} != 0 "
            - "xtoph_ocp4.ocp.sno: {{ xtoph_ocp4.ocp.sno }} == true"
            - "inventory_hostname: {{ inventory_hostname }}"
        when: 
          - inventory_hostname == elected_cluster_node



      
      - name: "xtoph_ocp4 : config-bastion-ocp-ai : write aicli-create.sh for SNO cluster"
        copy:
          dest: "{{ t_tmpdir }}/aicli-create.sh"
          mode: "0750"
          content: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }}                     \
                  create cluster {{ xtoph_ocp4.ocp.clustername }}                 \
                  -P sno=true                                                     \
                  -P pull_secret="{{ xtoph_ocp4.ocp.creds_dir }}/pull-secret.txt" \
                  -P openshift_version="{{ xtoph_ocp4.ocp.version }}"             \
                  -P base_dns_domain="{{ xtoph_ocp4.ocp.basedomain }}"            \
                  -P kernel_arguments="{{ xtoph_ocp4.rhcos.kernel_opts }}"        \
                  -P network_type="OVNKubernetes"                                 \
                  -P cpu_architecture="x86_64"                                    \
                  -P control_plane_count="1"                                      \
                  -P platform_type="baremetal"                                    \
                  -P user_managed_networking="false"                              \
                  -P vip_dhcp_allocation="false"                                  
        when: 
          - xtoph_ocp4.ocp.sno == true
          - inventory_hostname == elected_cluster_node
     
      - name: "xtoph_ocp4 : config-bastion-ocp-ai : write aicli-create.sh for NORMAL cluster"
        copy:
          dest: "{{ t_tmpdir }}/aicli-create.sh"
          mode: "0750"
          content: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }}                     \
                  create cluster {{ xtoph_ocp4.ocp.clustername }}                 \
                  -P pull_secret="{{ xtoph_ocp4.ocp.creds_dir }}/pull-secret.txt" \
                  -P openshift_version="{{ xtoph_ocp4.ocp.version }}"             \
                  -P base_dns_domain="{{ xtoph_ocp4.ocp.basedomain }}"            \
                  -P kernel_arguments="{{ xtoph_ocp4.rhcos.kernel_opts }}"        \
                  -P api_vip="{{ xtoph_ocp4.ocp.vip_api }}"                       \
                  -P ingress_vip="{{ xtoph_ocp4.ocp.vip_cluster }}"               \
                  -P network_type="OVNKubernetes"                                 \
                  -P cpu_architecture="x86_64"                                    \
                  -P control_plane_count="{{ t_ctlplane_cnt }}"                   \
                  -P platform_type="baremetal"                                    \
                  -P user_managed_networking="false"                              \
                  -P vip_dhcp_allocation="false"                                  
        when: 
          - xtoph_ocp4.ocp.sno == false
          - inventory_hostname == elected_cluster_node

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : write aicli-param.sh"
        copy:
          dest: "{{ t_tmpdir }}/aicli-param.sh"
          mode: "0750"
          content: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }}      \
                  update cluster {{ xtoph_ocp4.ocp.clustername }}  \
                  --paramfile {{ t_tmpdir }}/parms.yml
        when: 
          - inventory_hostname == elected_cluster_node

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : write aicli-manifest.sh"
        copy:
          dest: "{{ t_tmpdir }}/aicli-manifest.sh"
          mode: "0750"
          content: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }} create manifests --dir manifests {{ xtoph_ocp4.ocp.clustername }}
        when: 
          - inventory_hostname == elected_cluster_node



      ########################################
      ##
      ##    Time to create the cluster
      ##

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : execute aicli-create script"
        shell:
          chdir: "{{ t_tmpdir }}"
          cmd: ./aicli-create.sh 
        with_items:
          - "aicli-create.sh"
        when: 
          - inventory_hostname == elected_cluster_node
          - aicli_status.rc != 0 

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : execute aicli-(update) scripts"
        shell:
          chdir: "{{ t_tmpdir }}"
          cmd: "./{{ item }}"
        with_items:
          - "aicli-param.sh"
          - "aicli-manifest.sh"
        when: 
          - inventory_hostname == elected_cluster_node



#      - name: "PAUSE TO INSPECT STATE OF CLUSTER CONFIG"
#        pause:
#          prompt: "Press ENTER when ready to continue..."



      - name: "xtoph_ocp4 : config-bastion-ocp-ai : cleanup any prior iso download"
        file:
          path: "/var/lib/matchbox/assets/{{ xtoph_ocp4.ocp.clustername }}.iso"
          state: absent

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : aicli create iso"
        shell:
          cmd: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }}      \
                  create iso {{ xtoph_ocp4.ocp.clustername }}           
        when: 
          - inventory_hostname == elected_cluster_node
      
      - name: "xtoph_ocp4 : config-bastion-ocp-ai : aicli download ISO"
        shell:
          chdir: "/var/lib/matchbox/assets/"
          cmd: |
            aicli --offlinetoken {{ ocm_token.stdout|quote }}      \
                  download iso {{ xtoph_ocp4.ocp.clustername }}
        when: 
          - inventory_hostname == elected_cluster_node

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : create soft links to ISO for cluster nodes"
        file:
          src: /var/lib/matchbox/assets/{{ xtoph_ocp4.ocp.clustername }}.iso
          dest: /var/lib/matchbox/assets/{{ xtoph_ocp4.ocp.clustername }}-{{inventory_hostname_short }}.iso
          state: link
        when:
        - inventory_hostname in cluster_nodes
        
     

  vars:
    - t_tmpdir:    "/var/tmp/{{ xtoph_ocp4.ocp.clustername }}/ai"
    - t_name:      "{{ inventory_hostname_short }}"
    - t_addr:      "{{ h_pubIP  }}"
    - t_mac:       "{{ xtoph_ocp4.rhcos.nic_mac }}"
    - t_netdev:    "{{ xtoph_ocp4.rhcos.nic_dev | regex_replace('^(.*):.*','\\1') }}"
    - t_basedomain: "{{ xtoph_ocp4.ocp.basedomain }}"
    - t_ctlplane_cnt: "{{ xtoph_ocp4._cluster_masters | length }}"

    - t_dns:       "{{ xtoph_ocp4.bastion.host_ip if xtoph_ocp4.bastion.dns == true else xtoph_ocp4.network.nameserver }}"
    - t_ntp:       "{{ xtoph_ocp4.bastion.host_ip if xtoph_ocp4.bastion.ntp == true else xtoph_ocp4.network.timeserver }}"

    - t_prefix:    "{{ xtoph_ocp4.network.prefix }}"
    - t_netmask:   "{{ xtoph_ocp4.network.netmask }}"
    - t_gateway:   "{{ xtoph_ocp4.network.gateway }}"

    #    t_table_id is NOT related to netmask
    #    For more info on t_table_id: https://access.redhat.com/solutions/7011711
    - t_table_id:  "254"




##    NOTE: matchbox is used to hold/share the ISO assets
## 
##    restart the matchbox service
##

- delegate_to: "{{ xtoph_ocp4.bastion.host_fqdn }}"
  run_once: true
  block:

      - name: "xtoph_ocp4 : config-bastion-ocp-ai : enable and restart services"
        run_once: true
        service: name="{{ item }}" state=restarted enabled=yes masked=no daemon_reload=yes
        with_items:
          - "matchbox"

