- name: "main.yml : ***** BEGIN XTOPH_OCP4 ROLE PROCESSING *****"
  debug: msg="inventory_hostname={{ inventory_hostname }}"



- block:

      ##
      ##    Processing of xtoph_ocp4 begins with loading
      ##    variables and then pruning and grafting 
      ##    everything into one single dictionary called
      ##    
      ##        xtoph_ocp4{}
      ##
      
      - name: "main.yml : loading default vars"
        include_vars:
          name: '{{ item.varname }}'
          file: '{{ item.filename }}'
        loop:
          - { varname: 'xtoph_ocp4',               filename: 'xtoph_ocp4.default.yml' }
          - { varname: 'default_network',          filename: 'xtoph_ocp4.default.network.yml' }
          - { varname: 'default_ocp',              filename: 'xtoph_ocp4.default.ocp.yml' }
          - { varname: 'default_bastion',          filename: 'xtoph_ocp4.default.bastion.yml' }
          - { varname: 'default_rhcos',            filename: 'xtoph_ocp4.default.rhcos.yml' }
          - { varname: 'default_assets_openshift', filename: 'xtoph_ocp4.default.assets.openshift.yml' }
          - { varname: 'default_assets_rhcos',     filename: 'xtoph_ocp4.default.assets.rhcos.yml' }
          - { varname: 'default_assets_matchbox',  filename: 'xtoph_ocp4.default.assets.matchbox.yml' }
      
      - name: "main.yml : loading custom vars from {{ playbook_dir }}"
        include_vars:
          name: '{{ item.varname }}'
          file: '{{ item.filename }}'
        when: item.filename|length > 0
        loop:
          - { varname: 'custom_xtoph_ocp4',       filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4.yml") }}' }
          - { varname: 'custom_network',          filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-network.yml") }}' }
          - { varname: 'custom_ocp',              filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-ocp.yml") }}' }
          - { varname: 'custom_bastion',          filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-bastion.yml") }}' }
          - { varname: 'custom_rhcos',            filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-rhcos.yml") }}' }
          - { varname: 'custom_assets_openshift', filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-assets-openshift.yml") }}' }
          - { varname: 'custom_assets_rhcos',     filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-assets-rhcos.yml") }}' }
          - { varname: 'custom_assets_matchbox',  filename: '{{ lookup("fileglob","{{ playbook_dir }}/config/xtoph-ocp4-assets-matchbox.yml") }}' }
      
      
      
      ##    xtoph_ocp4 ............ baseline is loaded during default vars above
      ##                            here we only overlay the custom values
      
      - name: "main.yml : apply custom_xtoph_ocp4 => xtoph_ocp4"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({item.key: item.value}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_xtoph_ocp4 | default({}), wantlist=True ) }}"
        when: custom_xtoph_ocp4 is defined
      
      
      
      ##    xtoph_ocp4.network .... graft default_network
      ##                            overlay custom_network
      
      - name: "main.yml : graft network details => xtoph_ocp4.network"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'network': default_network[xtoph_ocp4._network_profile] }, recursive=true) }}"
        when: default_network[xtoph_ocp4._network_profile] is defined
      
      - name: "main.yml : apply custom network_assets => xtoph_ocp4.network"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'network': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_assets_network[xtoph_ocp4._network_profile] | default({}), wantlist=True ) }}"
        when: custom_network[xtoph_ocp4._network_profile] is defined

      
      
      ##    xtoph_ocp4.bastion .... graft default_bastion
      ##                            overlay custom_bastion
      
      - name: "main.yml : graft default _bastion_profile => xtoph_ocp4.bastion"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'bastion': default_bastion[xtoph_ocp4._bastion_profile] }, recursive=true) }}"
        when: default_bastion[xtoph_ocp4._bastion_profile] is defined
      
      - name: "main.yml : apply/overlay custom _bastion_profile => xtoph_ocp4.bastion"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'bastion': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_assets_bastion[xtoph_ocp4._bastion_profile] | default({}), wantlist=True ) }}"
        when: custom_bastion[xtoph_ocp4._bastion_profile] is defined
      
      
      
      ##    xtoph_ocp4.ocp ....... graft default_ocp
      ##                           overlay custom_ocp
      
      - name: "main.yml : graft default _ocp_profile => xtoph_ocp4.ocp"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'ocp': default_ocp[xtoph_ocp4._ocp_profile] }, recursive=true) }}"
        when: default_ocp[xtoph_ocp4._ocp_profile] is defined
      
      - name: "main.yml : apply/overlay custom _ocp_profile => xtoph_ocp4.ocp"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'ocp': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_assets_ocp[xtoph_ocp4._ocp_profile] | default({}), wantlist=True ) }}"
        when: custom_assets_ocp[xtoph_ocp4._ocp_profile] is defined
      
      
      
      ##    xtoph_ocp4.rhcos ..... graft default_rhcos
      ##                           overlay custom_rhcos
      
      - name: "main.yml : graft default _rhcos_profile details => xtoph_ocp4.rhcos"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'rhcos': default_rhcos[xtoph_ocp4._rhcos_profile] }, recursive=true) }}"
        when: default_rhcos[xtoph_ocp4._rhcos_profile] is defined
      
      - name: "main.yml : apply/overlay custom _rhcos_profile => xtoph_ocp4.rhcos"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'rhcos': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_rhcos[xtoph_ocp4._rhcos_profile] | default({}), wantlist=True ) }}"
        when: custom_rhcos[xtoph_ocp4._rhcos_profile] is defined
      
      
      
      ##    xtoph_ocp4.ocp_assets ... graft ocp assets for specified version
      ##                              overlay custom_assets_openshift

      - name: "main.yml : graft default ocp_assets => xtoph_ocp4.ocp_assets"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'ocp_assets': default_assets_openshift[xtoph_ocp4.ocp.version] }, recursive=true) }}"
        when: default_assets_openshift[xtoph_ocp4.ocp.version] is defined
      
      - name: "main.yml : apply/overlay custom ocp_assets => xtoph_ocp4.ocp_assets"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'openshift_assets': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_assets_openshift[xtoph_ocp4.ocp.version] | default({}), wantlist=True ) }}"
        when: custom_assets_openshift[xtoph_ocp4.ocp.version] is defined
      
      
      
      ##    xtoph_ocp4.rhcos_assets .. graft rhcos assets for specified version
      ##                               overlay custom_assets_rhcos
      
      - name: "main.yml : graft default rhcos_assets => xtoph_ocp4.rhcos_assets"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'rhcos_assets': default_assets_rhcos[xtoph_ocp4.ocp.version] }, recursive=true) }}"
        when: default_assets_rhcos[xtoph_ocp4.ocp.version] is defined
      
      - name: "main.yml : apply/overlay  custom rhcos_assets => xtoph_ocp4.rhcos_assets"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'rhcos_assets': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_assets_rhcos[xtoph_ocp4.ocp.version] | default({}), wantlist=True ) }}"
        when: custom_assets_rhcos[xtoph_ocp4.ocp.version] is defined
      
      
      
      ##
      ##    xtoph_ocp4.matchbox_assets ... graft matchbox assets for specified version
      ##                                   overlay custom_assets_matchbox
      
      - name: "main.yml : graft matchbox assets => xtoph_ocp4.matchbox_assets"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'matchbox_assets': default_assets_matchbox[xtoph_ocp4.ocp.version] }, recursive=true) }}"
        when: default_assets_matchbox[xtoph_ocp4.ocp.version] is defined
      
      - name: "main.yml : apply/overlay  custom matchbox_assets => xtoph_ocp4.matchbox_assets"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine({'matchbox_assets': {item.key: item.value}}, recursive=true) }}"
        loop: "{{ lookup('dict', custom_assets_matchbox[xtoph_ocp4.ocp.version] | default({}), wantlist=True ) }}"
        when: custom_assets_matchbox[xtoph_ocp4.ocp.version] is defined



#      ##
#      ##    Special handling for installation blk_dev
#      ##      when OCP version >= 4.6 we prepend '/dev/'
#      ##
#      ##    THIS DOES NOT APPEAR TO BE TRUE FOR ASSISTED INSTALLER
#      ##    DISABLING THIS FEATURE FOR FURTHER TESTING
#
#      - name: "main.yml : prepend '/dev/' to blk_dev when OCP version >= 4.6"
#        set_fact:
#          xtoph_ocp4: "{{ xtoph_ocp4 | combine( {'rhcos': {'blk_dev': t_blkdev}}, recursive=True ) }}"
#        vars:
#          t_blkdev: "{{ '/dev/' + xtoph_ocp4.rhcos.blk_dev }}"
#        when: xtoph_ocp4.ocp.version is version('4.6',operator='>=')



      ##
      ##    Special handling for bootstrap (straplesss / flip-flop)
      ##

      - run_once: true
        block:
      
            - debug:
                msg: 
                  - "########################################"
                  - "OCP BootstrapFlipFlop selection"
                  - "  If  ai == false && strapless == true && version >= 4.11 then use node from myMasters"
                  - "  If  ai == false && strapless == true && version <  4.11 then use node from myWorkers"
                  - ""
                  - "OCP Version            = {{ xtoph_ocp4.ocp.version }}"
                  - "OCP Strapless          = {{ xtoph_ocp4.ocp.strapless }}"
                  - "Assisted Installer     = {{ xtoph_ocp4.bastion.assisted_installer }}"
                  - "Assisted Installer SNO = {{ xtoph_ocp4.ocp.sno }}"
              when: xtoph_ocp4._debug == true


#
# 20240820 - disabling the use of masters for the Strapless FlipFlop.  It only worked
#            for 4.11 - 4.15, and stopped again with 4.16.  I will leave the code for
#            now in the event that I find a fix
#
#            - block: 
#
#                  - name: "main.yml: assert availability of bootstrap node from myMasters (Strapless)"
#                    assert:
#                      success_msg: "Strapless UPI bootstrap requirement met (OCP >= 4.11)"
#                      fail_msg:    "Strapless UPI requires 1 available master node (OCP >= 4.11)"
#                      that:
#                        - groups.myMasters | first | default(False)
#
#                  - name: "main.yml: selecting bootstrap node from myMasters (OCP >= 4.11)"
#                    add_host:
#                      name:   "{{ groups.myMasters | first }}"
#                      groups: "myBootstrapFlipFlop"
#              when:
#                - xtoph_ocp4.bastion.assisted_installer == False
#                - xtoph_ocp4.ocp.strapless == True
#                - xtoph_ocp4.ocp.version is version('4.11',operator='>=')
           
            - block:

                  - name: "main.yml: assert availability of bootstrap node from myWorkers (Strapless)"
                    assert:
                      success_msg: "Strapless UPI bootstrap requirement met (OCP < 4.11)"
                      fail_msg:    "Strapless UPI requires 1 available worker node (OCP < 4.11)"
                      that:
                        - groups.myWorkers | first | default(False)

                  - name: "main.yml: selecting bootstrap node from myWorkers (OCP < 4.11)"
                    add_host:
                      name:   "{{ groups.myWorkers | first }}"
                      groups: "myBootstrapFlipFlop"
              when:
                - xtoph_ocp4.bastion.assisted_installer == False
                - xtoph_ocp4.ocp.strapless == True

# 20240820 - by disabling the use of masters for the Strapless FlipFlop, we no longer test for OCP > 4.11
#                - xtoph_ocp4.ocp.version is version('4.11',operator='<')
            
      - name: "main.yml : save the selected Bootstrap in every host's xtoph_ocp4 dictionary"
        set_fact:
          xtoph_ocp4: "{{ xtoph_ocp4 | combine( {'_cluster_bootstrap_flipflop': groups.myBootstrapFlipFlop}, recursive=True ) }}"
      


      ##
      ##    At this point, the xtoph_ocp4 dictionary is complete, 
      ##    so debug/dump it to the screen
      ##

      - name: "main.yml : DEBUG"
        debug: 
          var: xtoph_ocp4
        when: xtoph_ocp4._debug == true



      ##
      ##    Save a copy of the dictionary to disk
      ##

      - delegate_to: localhost
        block:

            - name: "save-dictionary: DEBUG details"
              debug:
                msg:
                - "temp workspace = {{ xtoph_ocp4._tmp_dir }}/xtoph_ocp4.yml"
              when: xtoph_ocp4._debug == true
      
            - name: "save-dictionary: verify directory exists"
              file:
                path="{{ xtoph_ocp4._tmp_dir }}"
                mode="0755"
                state=directory
      
            - name: "save-dictionary: delete old copy of saved dictionary"
              file:
                path="{{ xtoph_ocp4._tmp_dir }}/xtoph-ocp4.yml"
                mode="0755"
                state=absent
      
            - name: "save-dictionary: save state of xtoph_ocp4 dictionary"
              copy:
                dest:     "{{ xtoph_ocp4._tmp_dir }}/xtoph_ocp4.yml"
                content:  "{{ xtoph_ocp4 | to_nice_yaml }}"

      ##
      ##    Now we can set the flag that indicates processing is completed
      ##

      - set_fact:
          _xtoph_ocp4_dict_processed: true



  when: _xtoph_ocp4_dict_processed is undefined



################################################################################
################################################################################

##
##    Jump to the component of this role
##    based on variable xtoph_ocp4_action
##

- name: "main.yml : early assertions"
  include_tasks: "assertions.yml"
  when:
    - xtoph_ocp4_action == "config-bastion"
    - xtoph_ocp4_subaction == "assert"

- name: "main.yml : setup deployhost (controller)"
  include_tasks: "deployer-setup.yml"
  when:
    - xtoph_ocp4_action == "setup"

- name: "main.yml : configure bastion host"
  include_tasks: "config-bastion.yml"
  when:
    - xtoph_ocp4_action == "config-bastion"

- include_tasks: "preinstall-node.yml"
  when:
    - xtoph_ocp4_action == "preinstall-node"

- include_tasks: "postinstall-node.yml"
  when:
    - xtoph_ocp4_action == "postinstall-node"

- include_tasks: "postinstall-cluster.yml"
  when:
    - xtoph_ocp4_action == "postinstall-cluster"
      
- include_tasks: "preuninstall-node-shutdown.yml"
  when:
    - xtoph_ocp4_action == "preuninstall-node-shutdown"



##
##    We are done
##

- name: "main.yml : ***** END XTOPH_OCP4 ROLE PROCESSING *****"
  debug: msg="inventory_hostname={{ inventory_hostname }}"

