#!/bin/bash

export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

function run_cmd() {

  msg=$1
  cmd=$2

  echo ""
  echo "## - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
  echo "## Message: $msg"
  echo "## Command: $cmd"
  echo ""

  eval $cmd

  rc=$?

  if [[ $rc != 0 ]] ; then
      exit "FATAL: previous command returned non-zero ($rc)"
      exit $rc
  fi

  echo ""
}


##
##    Delete projects
##


run_cmd "Change current project namespace to default" \
        "oc project default"

for i in cli-ex{01..07}; do

  echo "Checking for project ${i}"

  if oc get project/${i} > /dev/null 2>&1; then

    run_cmd "Delete project ${i}" \
            "oc delete project ${i}"

  fi

done


##
##    Check for PV's that need to be deleted as well
##
##    NOTE: the PVC's would have been cleaned up by the project being deleted
##

echo "Checking for PV"

if  oc get PersistentVolume/ex03-pv > /dev/null 2>&1 ; then

 oc delete PersistentVolume/ex03-pv

fi

