#!/bin/bash

export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

function run_cmd() {

  msg=$1
  cmd=$2

  echo ""
  echo "## - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
  echo "## Message: $msg"
  echo "## Command: $cmd"
  echo ""

  eval $cmd

  rc=$?

  if [[ $rc != 0 ]] ; then
      exit "FATAL: previous command returned non-zero ($rc)"
      exit $rc
  fi

  echo ""
}


##
##    Delete projects
##


run_cmd "Change current project namespace to default" \
        "oc project default"

for i in cli-ex{01..05}; do

  if run_cmd "Check for project $i" "oc get project/${i}" ; then

    run_cmd "Delete project ${i}" \
            "oc delete project ${i}"

  fi

done


##
##    Check for PV's that need to be deleted as well
##
##    NOTE: the PVC's would have been cleaned up by the project being deleted
##

if  run_cmd "Check for PV to delete" "oc get PersistentVolume/hello-world" ; then

 oc delete PersistentVolume/hello-world

fi

