apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ex03-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: ex03-pv
  storageClassName: ""
