apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lvm-file-1
spec:
  accessModes:
    - ReadWriteOncePod
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
  storageClassName: lvms-vg1
