
interfaces:
- name: {{ t_netdev }}
  state: up
  type: ethernet
  mac-address: {{ t_mac }}
  ipv4:
    dhcp: true
    enabled: true
dns-resolver:
 config:
   search:
   - {{ t_basedomain }}
   server:
   - {{ t_dns }}
