insmod video_bochs
insmod video_cirrus
insmod all_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
set timeout=15



menuentry 'Install Red Hat CoreOS {{ xtoph_ocp4.ocp.version }} [{{ t_name }}]' {

    echo "Loading kernel"
    {{ p_kargs }}

    echo "Loading initrd"
    initrdefi  (http,{{ t_addr}}:{{ t_port }})/assets/{{ t_initramfs }}

    echo "Starting installation..."
}

menuentry 'Debug (Shell) Red Hat CoreOS {{ xtoph_ocp4.ocp.version }} [{{ t_name }}]' {

    echo "Loading kernel"
    {{ p_kargs }} single

    echo "Loading initrd"
    initrdefi  (http,{{ t_addr}}:{{ t_port }})/assets/{{ t_initramfs }}

    echo "Starting installation..."
}

menuentry 'Reload config {{ p_tftp_cfgpath }} [{{ t_name }}]' {
    insmod net
    insmod http
    echo 'Loading Linux ...'
    configfile {{ p_tftp_cfgpath }}
}

