insmod video_bochs
insmod video_cirrus
insmod all_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
set timeout=15



menuentry 'Install Red Hat CoreOS {{ xtoph_ocp4.ocp.version }} [{{ t_name }}]' {

    echo "Loading kernel"
    linuxefi (http,{{ t_addr}}:{{ t_port }})/assets/{{ t_kernel }} \
             nomodeset \
             ip={{ t_network }} \
{% if t_bond != "" %}
             bond={{ t_bond }} \
{% endif %}
             rd.neednet=1 \
             console=tty0 \
             usb-storage.delay_use={{ t_usbdelay }} \
             coreos.inst=yes \
             coreos.inst.install_dev={{ t_storage }} \
             coreos.inst.image_url=http://{{ t_addr }}:{{ t_port }}/assets/{{ t_metal }} \
             coreos.inst.insecure=yes \
{% if t_rootfs != "" %}
             coreos.live.rootfs_url=http://{{ t_addr }}:{{ t_port }}/assets/{{ t_rootfs }} \
{% endif %}
             coreos.inst.ignition_url=http://{{ t_addr}}:{{ t_port }}/ignition?mac={{ t_mac }}

    echo "Loading initrd"
    initrdefi  (http,{{ t_addr}}:{{ t_port }})/assets/{{ t_initramfs }}

    echo "Starting installation..."
}



menuentry 'Reload config {{ t_tftp_cfgpath }} [{{ t_name }}]' {
    insmod net
    insmod http
    echo 'Loading Linux ...'
    configfile {{ t_tftp_cfgpath }}
}

