#!ipxe

echo
echo
echo Red Hat CoreOS {{ xtoph_ocp4.ocp.version }}
echo Mode:   UEFI
echo MAC:    {{ t_dash_mac }}
echo Node:   {{ t_name }}
echo initrd: {{ t_initramfs }}
echo kernel: {{ t_kernel }}
echo

set boot-path http://{{ t_addr }}:{{ t_port }}/assets/

sleep 10

initrd --name initrd.img ${boot-path}/{{ t_initramfs }}

kernel --name vmlinuz ${boot-path}/{{ t_kernel }}

{{ p_kargs }}

