#!/bin/bash

##
## Include the lib-exercise functions
##

. $(dirname "$0")/lib-exercise.sh

##
## Load the kubeconfig
##

export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

##
##
##

exercise_cmd "Test cluster login" \
             "oc whoami"

##
##
##

exercise_cmd "Check for pending CSRs" \
             "! oc get csr --no-headers 2>/dev/null | grep -i pending" \

##
##
##

exercise_cmd "Check for nodes in a notready status" \
             "! oc get nodes --no-headers | grep -i notready"

##
##
##

exercise_cmd "Check for cluster operators that not ready" \
             "! oc get clusteroperators --no-headers | awk '{print \$3}' | grep -i false"

echo ""
